### MLFLOW ###

# Postgres
MLFLOW_POSTGRES_USER=
MLFLOW_POSTGRES_PASSWORD=
MLFLOW_POSTGRES_HOST=mlflow-postgres
MLFLOW_POSTGRES_PORT=5432
MLFLOW_POSTGRES_DB=mlflow

# MinIO
MLFLOW_MINIO_ROOT_USER=
MLFLOW_MINIO_ROOT_PASSWORD=
MLFLOW_MINIO_HOST=mlflow-minio
MLFLOW_MINIO_PORT=9000
MLFLOW_MINIO_BUCKET=mlflow

# MLflow Server
MLFLOW_BACKEND_STORE_URI=postgresql://${MLFLOW_POSTGRES_USER}:${MLFLOW_POSTGRES_PASSWORD}@${MLFLOW_POSTGRES_HOST}:${MLFLOW_POSTGRES_PORT}/${MLFLOW_POSTGRES_DB}
MLFLOW_ARTIFACTS_DESTINATION=s3://${MLFLOW_MINIO_BUCKET}/
MLFLOW_S3_ENDPOINT_URL=http://${MLFLOW_MINIO_HOST}:${MLFLOW_MINIO_PORT}
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000
MLFLOW_SERVER_ALLOWED_HOSTS=127.0.0.1:${MLFLOW_PORT},mlflow-server:${MLFLOW_PORT}
MLFLOW_TRACKING_URI=http://mlflow-server:${MLFLOW_PORT}

# AWS region (for Boto3)
MLFLOW_AWS_DEFAULT_REGION=us-east-1

### PREFECT ###

# Postgres
PREFECT_POSTGRES_USER=
PREFECT_POSTGRES_PASSWORD=
PREFECT_POSTGRES_HOST=prefect-postgres
PREFECT_POSTGRES_PORT=5432
PREFECT_POSTGRES_DB=prefect

# Redis
PREFECT_REDIS_HOST=prefect-redis
PREFECT_REDIS_PORT=6379
PREFECT_REDIS_DB=0

# Prefect Server
PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://${PREFECT_POSTGRES_USER}:${PREFECT_POSTGRES_PASSWORD}@${PREFECT_POSTGRES_HOST}:${PREFECT_POSTGRES_PORT}/${PREFECT_POSTGRES_DB}
PREFECT_SERVER_API_HOST=0.0.0.0
PREFECT_SERVER_API_PORT=4200
PREFECT_MESSAGING_BROKER=prefect_redis.messaging
PREFECT_MESSAGING_CACHE=prefect_redis.messaging
PREFECT_SERVER_ANALYTICS_ENABLED=false
PREFECT_API_URL=http://prefect-server:${PREFECT_SERVER_API_PORT}/api
