# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=mlflow

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_BUCKET=mlflow

# MLflow Server
MLFLOW_BACKEND_STORE_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
MLFLOW_ARTIFACTS_DESTINATION=s3://${MINIO_BUCKET}/
MLFLOW_S3_ENDPOINT_URL=http://${MINIO_HOST}:${MINIO_PORT}
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000
MLFLOW_SERVER_ALLOWED_HOSTS=127.0.0.1:${MLFLOW_PORT},mlflow:${MLFLOW_PORT}
MLFLOW_TRACKING_URI=http://mlflow:${MLFLOW_PORT}

# AWS region (for Boto3)
AWS_DEFAULT_REGION=us-east-1
